/* Definição das Variáveis de Cor */
:root {
    --color-background-body: #f4f4f4;
    --color-background-header: #007bff;
    --color-background-container: #fff;
    --color-background-footer: #333; 

    --color-text-header-title: white;
    --color-text-header-subtitle: #e9ecef;
    --color-text-dark: #333; 
    --color-text-muted: #555;
    --color-text-light: #e9ecef; 
    --color-text-accent: #007bff; 

    --color-border-light: #ccc;

    --color-primary: #007bff; 
    --color-primary-dark: #0056b3; 

    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-medium: rgba(0, 0, 0, 0.1); 
}

